@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.game {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: grid;
  place-content: center;
}

.local {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: grid;
  place-content: center;
}

.home {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: grid;
  place-content: center;
}

.dashboard {
  background-color: rgb(255, 255, 255);
}

.button {
  border: none;
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 8px;
  border-radius: 8px;
}

.button:hover {
  background-color: rgb(230, 230, 230);
}

.buttonred {
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.dashboard button {
  margin-top: 12px;
}

.navbar {
  background-color: white;
  width: 100vw;
  height: 60px;
  padding: 24px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.inner {
  height: calc(100vh - 60px);
  display: grid;
  place-content: center;
}

.highlighted {
  border: 3px solid white;
}

.photoURL {
  width: 30px;
  height: 30px;
  border-radius: 8px;
}